@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
/*========= CSS VARIABLE =========*/
:root{
    --main-font: 'Poppins';
    --bg-color: #FFF;
    --main-color: #000F92;
    --text-color: #000;
    --text-light: #7A7A7A; 
}


/*========= CSS RESET =========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
}


/*========= MAIN STYLE =========*/

/* Menu Bars */
.menu-toggle{
    position: relative;
    margin-right: 40px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.menu-toggle input{
    position: absolute;
    top: -6px;
    left: -9px;
    width: 40px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 30px;
    height: 4px;
    background-color: #00095B;
    border-radius: 3px;
    transition: all .5s;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-2px, 1px);
}

/* Header */
header{
    background-color: var(--bg-color);
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: var(--main-color);
    font-size: 15px;
    margin-left: 20px;
}

header .navbar{
    display: flex;
    align-items: center;
    width: 80%;
}

header .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .left{
    margin-right: 600px;
    width: 35%;
}
header .right{
    margin-right: 50px;
    width: 20%;
}

header nav li a{
    font-weight: 500;
    color: var(--main-color);
    transition: 100ms;
}
header nav li a:hover{
    text-decoration: underline;
}

/* Main Page */
.main-page{
    padding-top: 150px;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.main-page h1{
    font-size: 50px;
    font-weight: 500;
    color: var(--main-color);
}

.main-page p{
    font-size: 15px;
    color: var(--text-light);
}

.main-page form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}

.main-page form input{
    height: 40px;
    padding: 10px 20px;
    border: 1px solid #000;
}

.main-page form #signIn_button{
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    cursor: pointer;
    background-color: #000F92;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    border: none;
    padding: 0;
    transition: 100ms;
}
.main-page form #signIn_button:hover{
    transform: translateY(2px);
    box-shadow: none;
}

.main-page a{
    width: max-content;
    border-bottom: 2px solid #7D8AFF;
    color: #7D8AFF;
    font-weight: 500;
    transition: 100ms linear;
}
.main-page a:hover{
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
}


/*========= RESPONSIVE =========*/

/* Laptop */
@media screen and (max-width:1180px){
    header .navbar .left{
        margin: 0;
    }

    header .navbar .right{
        margin-left: 350px;
    }
}

@media screen and (max-width:1024px) {
    /* Header */
    header .navbar .left{
        margin-right: 0;
        margin-left: 30px;
        width: 38%;
    }

    header .navbar .right{
        margin-right: 0;
        margin-left: 200px;
        width: 23%;
    }

    /* Main Page */
    
}

/* iPad and Tablet */
@media screen and (max-width:820px) {
    /* Header */
    .menu-toggle{
        display: flex;
    }

    header .navbar{
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color:var(--main-color);
        transform: translateX(100%);
        transition: 500ms;
    }

    header .navbar nav li a{
        color: #fff;
    }

    header .navbar.slide{
        transform: translateX(0);
        transition: 500ms;
    }

    header .navbar .left{
        margin: 0;
        margin-left: 30px;
        margin-top: 30px;
        display: flex;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    header .navbar .right{
        margin: 0;
        margin-left: 30px;
        display: flex;
        height: 100px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* Main Page */
    .main-page{
        width: 70%;
    }
}

/* Mobile */
@media screen and (max-width:480px){
    /* Header */
    header .navbar{
        top: 58px;
        height: 45vh;
    }

    /* Main Page */
    .main-page{
        width: 80%;
    }
}

/* Mobile L */
@media screen and (max-width:425px){
    /* Header */
    header .logo{
        font-size: 13px;
    }

    header .menu-toggle{
        margin-right: 20px;
    }

    header .navbar{
        height: 60vh;
    }

    /* Main Page */
    
}

/* Mobile M */
@media screen and (max-width:375px){
    /* Header */
    header .menu-toggle{
        margin-right: 20px;
    }

    header .navbar{
        top: 58px;
        height: 50vh;
    }

    /* Main Page */
    
}

/* Mobile S */
@media screen and (max-width:320px){
    /* Header */
    header .menu-toggle{
        margin-right: 10px;
    }

    header .navbar{
        top: 58px;
        height: 60vh;
    }

    /* Main Page */
    
}
